html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    background: #000;
}

svg {
    position: absolute;
    height: 100px;
    fill: transparent;
}

a {
    position: fixed;
    bottom: 10px;
    right: 10px;

    color: #fff;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}